<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/rentals/#{@rental}/return"}>
      <.button color="danger">Ausleihe zurückgeben</.button>
    </.link>
    <.link navigate={~p"/rentals/#{@rental}/renew"}>
      <.button>Ausleihe verlängern</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <.list>
    <:item title="Kontakt">
      {format_string_field(@rental.contact.name)}
    </:item>
    <:item title="Standort">
      {format_string_field(@rental.location.name)}
    </:item>
    <:item title="Einheit">
      {format_string_field(@rental.unit.serial_number)}
    </:item>
    <:item title="Ausleihdatum">
      <%= if @rental_rule && @rental_rule.rental_period_unit == "Stunden" do %>
          {"#{format_datetime_field(@rental.rental_date)} Uhr"} 
        <% else %>
          {format_date_field_dmy(@rental.rental_date)}
        <% end %>
    </:item>
    <:item title="Rückgabedatum">
        <%= if @rental_rule && @rental_rule.rental_period_unit == "Stunden" do %>
          {"#{format_datetime_field(@rental.return_date)} Uhr"} 
        <% else %>
          {format_date_field_dmy(@rental.return_date)}
        <% end %>
    </:item>
  </.list>
</.card>

