<.header>
  {@page_title}

  <:actions :if={Rental.active?(@rental)}>
    <.link navigate={~p"/rentals/#{@rental}/return"}>
      <.button color="danger">Ausleihe zurückgeben</.button>
    </.link>
    <.link navigate={~p"/rentals/#{@rental}/renew"}>
      <.button>Ausleihe verlängern</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <.list>
    <:item title="Mitgliedschaft">
      <%= if Contact.has_active_membership_contract?(@rental.contact) do %>
        Mitglied
      <% else %>
        Nichtmitglied
      <% end %>
    </:item>

    <:item title="Artikel">
      {@rental.article.name}
    </:item>

    <:item title="Einheit">
      {@rental.unit.serial_number}
    </:item>

    <:item title="Ausleihdatum">
      {format_datetime_field(@rental.rental_date)}
    </:item>

    <:item :if={Rental.active?(@rental)} title="Geplante Rückgabe">
      {format_datetime_field(@rental.return_date)}
    </:item>

    <:item :if={Rental.inactive?(@rental)} title="Zurückgegeben am">
      {format_datetime_field(@rental.returned_at)}
    </:item>

    <:item :if={Rental.inactive?(@rental)} title="Gesamtentgelt">
      {@rental.total_fee}
    </:item>

    <:item :if={Rental.inactive?(@rental)} title="Mehrwertsteuer">
      {@rental.vat_fee}
    </:item>

    <:item :if={Rental.inactive?(@rental)} title="Bemerkung">
      {format_string_field(@rental.condition_note)}
    </:item>
  </.list>
</.card>
