<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/units/#{@unit}/edit"}>
      <.button>Einheit bearbeiten</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <.list>
    <:item title="Anlagennummer">{@unit.serial_number}</:item>
    <:item title="ausleihbar">
      {format_boolean_field(@unit.for_lending)}
    </:item>
    <:item title="reservierbar">
      {format_boolean_field(@unit.for_booking)}
    </:item>
  </.list>
</.card>
