<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/units/#{@unit}/edit"}>
      <.button>Einheit bearbeiten</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <.list>
    <:item title="Anlagennummer">
      {format_string_field(@unit.serial_number)}
    </:item>

    <:item title="Standort">
      {format_string_field(@unit.location.name)}
    </:item>
    <:item title="Erwerbsdatum">
      {format_date_field_dmy(@unit.purchase_date)}
    </:item>
    <:item title="Inbetriebnahme">
      {format_date_field_dmy(@unit.commission_date)}
    </:item>
    <:item title="Außerbetriebnahme">
      {format_date_field_dmy(@unit.decommission_date)}
    </:item>
  </.list>
</.card>

<.header level="2" class="mt-12">Vergangene Ausleihen</.header>

<.card>
  <%= if @inactive_rentals_count > 0 do %>
    <.table id="inactive_rentals" rows={@streams.inactive_rentals}>
      <:col :let={{_id, rental}} label="Kategorie">
        <%= if Contact.has_active_membership_contract?(rental.contact) do %>
          Mitglied
        <% else %>
          Nichtmitglied
        <% end %>
      </:col>
      <:col :let={{_id, rental}} label="Ausgeliehen am">
        {format_datetime_field(rental.rental_date)}
      </:col>
      <:col :let={{_id, rental}} label="Zurückgegeben am">
        {format_datetime_field(rental.returned_at)}
      </:col>
      <:action :let={{_id, rental}}>
        <.link navigate={~p"/rentals/#{rental}"}>Anzeigen</.link>
      </:action>
    </.table>
  <% else %>
    <p>Es gibt noch keine vergangenen Ausleihen dieser Einheit.</p>
  <% end %>
</.card>

<.header level="2" class="mt-12">Schadens- und Verlustfälle</.header>

<.card>
  <%= if @incident_rentals_count > 0 do %>
    <.table id="incident_rentals" rows={@streams.incident_rentals}>
      <:col :let={{_id, rental}} label="Kontakt">{rental.contact.name}</:col>

      <:col :let={{_id, rental}} label="Bemerkung">
        {format_string_field(rental.condition_note)}
      </:col>
      <:action :let={{_id, rental}}>
        <.link navigate={~p"/rentals/#{rental}"}>Anzeigen</.link>
      </:action>
    </.table>
  <% else %>
    <p>Es gibt keine Schadens- oder Verlustfälle.</p>
  <% end %>
</.card>

<.header level="2" class="mt-12">Kostenpflichtige Ausleihen</.header>

<.card>
  <%= if @fee_rentals_count > 0 do %>
    <.table id="fee_rentals" rows={@streams.fee_rentals}>
      <:col :let={{_id, rental}} label="Kontakt">
        {rental.contact.name}
      </:col>

      <:col :let={{_id, rental}} label="Zurückgegeben am">
        {format_datetime_field(rental.returned_at)}
      </:col>

      <:col :let={{_id, rental}} label="Gesamtentgelt">
        {rental.total_fee}
      </:col>

      <:col :let={{_id, rental}} label="Mehrwertsteuer">
        {rental.vat_fee}
      </:col>

      <:action :let={{_id, rental}}>
        <.link navigate={~p"/rentals/#{rental}"}>Anzeigen</.link>
      </:action>
    </.table>
  <% else %>
    <p>Es gibt keine kostenpflichtigen vergangenen Ausleihen.</p>
  <% end %>
</.card>
