<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/units/#{@unit}/edit"}>
      <.button>Einheit bearbeiten</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <.list>
    <:item title="Anlagennummer">
      {format_integer_field(@unit.serial_number)}
    </:item>
    <:item title="ausleihbar">
      {format_boolean_field(@unit.for_lending)}
    </:item>
    <:item title="belegt">
      {format_boolean_field(@unit.occupied)}
    </:item>
    <:item title="Standort">
      {format_string_field(@unit.location.name)}
    </:item>
    <:item title="Erwerbsdatum">
      {format_date_field_dmy(@unit.purchase_date)}
    </:item>
    <:item title="Inbetriebnahme">
      {format_date_field_dmy(@unit.commission_date)}
    </:item>
    <:item title="Außerbetriebnahme">
      {format_date_field_dmy(@unit.decommission_date)}
    </:item>
  </.list>
</.card>

<.header level="2" class="mt-12">
  Vergangene Ausleihen
</.header>

<.card> 
  <%= if Enum.any?(@streams.rentals.inserts) do %>
  
  <% else %>
    <p>Es gibt noch keine archivierten Ausleihen.</p>
  <% end %>
  
</.card>