<.header>
  {@page_title}
</.header>

<.card>
  <%= if Enum.any?(@streams.old_rentals_collection.inserts) do %>
    <.table
      id="old_rentals"
      rows={@streams.old_rentals_collection}
      row_click={fn {_id, old_rentals} -> JS.navigate(~p"/old_rentals/#{old_rentals}") end}
    >

      <:col :let={{_id, old_rentals}} label="Kontakt">
        {old_rentals.contact.name}
      </:col>

      <:col :let={{_id, old_rentals}} label="Artikel">
        {old_rentals.article.name}
      </:col>

      <:col :let={{_id, old_rentals}} label="Einheit">
        {old_rentals.unit.serial_number}
      </:col>

      <:col :let={{_id, old_rentals}} label="Ausleihdatum">
        {Calendar.strftime(old_rentals.rental_date, "%d.%m.%Y %H:%M")}
      </:col>

      <:col :let={{_id, old_rentals}} label="Zurückgegeben am">
        {Calendar.strftime(old_rentals.returned_at, "%d.%m.%Y %H:%M")}
      </:col>

      <:action :let={{_id, old_rentals}}>
        <.link navigate={~p"/old_rentals/#{old_rentals}"}>
          Anzeigen
        </.link>
      </:action>
    </.table>
  <% else %>
    <p>
      Bisher wurde noch keine alte Ausleihe erstellt.
    </p>
  <% end %>
</.card>