<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/articles/#{@article}/loans/new"}>
      <.button>Ausleihübergabe anlegen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@streams.loans.inserts) do %>
    <.table
      id="loans"
      rows={@streams.loans}
      row_click={fn {_id, loan} -> JS.navigate(~p"/loans/#{loan}") end}
    >
      <:col :let={{_id, loan}} label="Artikel">{loan.article.name}</:col>
      <:col :let={{_id, loan}} label="Standort">{loan.location.name}</:col>
      <:col :let={{_id, loan}} label="Return date">{loan.return_date}</:col>
      <:action :let={{_id, loan}}>
        <div class="sr-only">
          <.link navigate={~p"/loans/#{loan}"}>Show</.link>
        </div>
      </:action>
    </.table>
  <% else %>
    <p>
      Bisher wurde noch keine Ausleihe angelegt.<br />
    </p>
  <% end %>
</.card>
