<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/loans/#{@loan}/delete"}>
      <.button color="danger">Ausleihe löschen</.button>
    </.link>
    <.link navigate={~p"/loans/#{@loan}/renew"}>
      <.button>Ausleihe verlängern</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <.list>
    <:item title="Kontakt">
      {format_string_field(@loan.contact.name)}
    </:item>
    <:item title="Standort">
      {format_string_field(@loan.location.name)}
    </:item>
    <:item title="Einheit">
      {format_string_field(@loan.unit.serial_number)}
    </:item>
    <:item title="Rückgabedatum">
      {format_date_field_dmy(@loan.return_date)}
    </:item>
  </.list>
</.card>

