<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/loans/#{@loan}/edit"}>
      <.button>Ausleihe bearbeiten</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Standort">{@loan.location.name}</:item>
  <:item title="Einheit">{@loan.unit.serial_number}</:item>
  <:item title="Return date">{@loan.return_date}</:item>
</.list>

<.back navigate={~p"/articles/#{@article}/loans"}>Zurück zur Ausleihübersicht</.back>
