<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/clubs/#{@club}/articles/new"}>
      <.button>Artikel erstellen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@streams.articles.inserts) do %>
    <.table
      id="articles"
      rows={@streams.articles}
      row_click={fn {_id, article} -> JS.navigate(~p"/articles/#{article}") end}
    >
      <:col :let={{_id, article}} label="Name">{article.name}</:col>
      <:col :let={{_id, article}} label="Beschreibung">{article.description}</:col>
      <:col :let={{_id, article}} label="Referenznummer">{article.reference_number}</:col>
      <:col :let={{_id, article}} label="Wiederbeschaffungskosten">{article.costs_of_loss}</:col>
      <:col :let={{_id, equipmenttype}} label="Abteilung">
        {format_string_field(
          case equipmenttype.department do
            nil -> "-"
            department -> department.name
          end
        )}
      </:col>
      <:action :let={{_id, article}}>
        <.link navigate={~p"/articles/#{article}"}>Show</.link>
      </:action>
    </.table>
  <% else %>
    <p>
      Bisher wurde noch keine Ausrüstungsart erstellt.<br />
      Ausrüstung kann erst angelegt werden, wenn mindestens eine Ausrüstungsart existiert.
    </p>
  <% end %>
</.card>
