<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/clubs/#{@club}/articles/new"}>
      <.button>Artikel erstellen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@streams.articles.inserts) do %>
    <.table
      id="articles"
      rows={@streams.articles}
      row_click={fn {_id, article} -> JS.navigate(~p"/articles/#{article}") end}
    >
      <:col :let={{_id, article}} label="Name">{article.name}</:col>
      <:col :let={{_id, article}} label="Referenznummer">{article.reference_number}</:col>
      <:col :let={{_id, article}} label="Abteilung">
        {format_string_field(
          case article.department do
            nil -> "Vereinsweit"
            department -> department.name
          end
        )}
      </:col>
      <:col :let={{_id, article}} label="Kategorie">
        {format_string_field(
          case article.category do
            nil -> "-"
            category -> category.name
          end
        )}
      </:col>
      <:col :let={{_id, article}} label="Überlassung an Nichtmitglieder erlauben">
        {if article.for_non_members, do: "Ja", else: "Nein"}
      </:col>
      <:action :let={{_id, article}}>
        <.link navigate={~p"/articles/#{article}"}>Anzeigen</.link>
      </:action>
    </.table>
  <% else %>
    <p>
      Bisher wurde noch kein Artikel erstellt.<br />
      Einzelne Einheiten können erst angelegt werden, wenn ein dazugehöriger Artikel existiert.
    </p>
  <% end %>
</.card>
