<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/articles/#{@article}/edit"}>
      <.button>Artikel bearbeiten</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <.list>
    <:item title="Name">{@article.name}</:item>
    <:item title="Beschreibung">{@article.description}</:item>
    <:item title="Referenznummer">{@article.reference_number}</:item>
    <:item title="Wiederbeschaffungskosten">{@article.costs_of_loss}</:item>
    <:item title="Abteilung">
      {if @article.department, do: @article.department.name, else: "-"}
    </:item>
    <:item title="Kategorie">
      {if @article.category, do: @article.category.name, else: "-"}
    </:item>
  </.list>
</.card>

<.header level="2" class="mt-12">
  Vermietungen
  <:actions>
    <.link navigate={~p"/articles/#{@article}/rentals/new"}>
      <.button>Vermietung anlegen</.button>
    </.link>
  </:actions>
</.header>
<.card>
  <%= if Enum.any?(@streams.rentals.inserts) do %>
    <.table
      id="rental"
      rows={@streams.rentals}
      row_click={fn {_id, rental} -> JS.navigate(~p"/rentals/#{rental}") end}
    >
      <:col :let={{_id, rental}} label="Kontakt">
        {format_string_field(rental.contact.name)}
      </:col>
      <:col :let={{_id, rental}} label="Standort">
        {format_string_field(rental.location.name)}
      </:col>
      <:col :let={{_id, rental}} label="Einheit">
        {format_integer_field(rental.unit.serial_number)}
      </:col>
      <:col :let={{_id, rental}} label="Rückgabedatum">
        <%= if @rental_rule && @rental_rule.rental_period_unit == "Stunden" do %>
          {format_datetime_field(rental.return_date)}
        <% else %>
          {format_date_field_dmy(rental.return_date)}
        <% end %>
      </:col>
      <:action :let={{_id, rental}}>
        <.link navigate={~p"/rentals/#{rental}"}>Anzeigen</.link>
      </:action>
    </.table>
  <% else %>
    <p>Es gibt keine aktiven Ausleihvorgänge</p>
  <% end %>
</.card>

<.header level="2" class="mt-12">
  Einheiten
  <:actions>
    <.link navigate={~p"/articles/#{@article}/units/new"}>
      <.button>Einheit erstellen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@streams.units.inserts) do %>
    <.table
      id="unit"
      rows={@streams.units}
      row_click={fn {_id, unit} -> JS.navigate(~p"/units/#{unit}") end}
    >
      <:col :let={{_id, unit}} label="Anlagennummer">
        {format_integer_field(unit.serial_number)}
      </:col>
      <:col :let={{_id, unit}} label="belegt">
        {format_boolean_field(unit.occupied)}
      </:col>
      <:col :let={{_id, unit}} label="ausleihbar">
        <div class="max-w-[200px] truncate overflow-hidden">
          {format_boolean_field(unit.for_lending)}
        </div>
      </:col>
      <:col :let={{_id, unit}} label="Standort">
        {format_string_field(unit.location.name)}
      </:col>
      <:action :let={{_id, unit}}>
        <.link navigate={~p"/units/#{unit}"}>Anzeigen</.link>
      </:action>
    </.table>
  <% else %>
    <p>Bisher wurde noch keine Einheit angelegt.</p>
  <% end %>
</.card>


