<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/articles/#{@article}/edit"}>
      <.button>Artikel bearbeiten</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <.list>
    <:item title="Name">{@article.name}</:item>
    <:item title="Beschreibung">{@article.description}</:item>
    <:item title="Referenznummer">{@article.reference_number}</:item>
    <:item title="Wiederbeschaffungskosten">{@article.costs_of_loss}</:item>
    <:item title="Abteilung">
      {if @article.department, do: @article.department.name, else: "-"}
    </:item>
    <:item title="Kategorie">
      {if @article.category, do: @article.category.name, else: "-"}
    </:item>
    <:item title="Definierter Ausleihzeitraum in Tagen">
      {format_integer_field(@article.loan_period)}
    </:item>
  </.list>
</.card>

<.header level="2" class="mt-12">
  Ausleihen
  <:actions>
    <.link navigate={~p"/articles/#{@article}/loans/new"}>
      <.button>Ausleihe anlegen</.button>
    </.link>
  </:actions>
</.header>
<.card>
  <%= if Enum.any?(@streams.loans.inserts) do %>
    <.table
      id="loan"
      rows={@streams.loans}
      row_click={fn {_id, loan} -> JS.navigate(~p"/loans/#{loan}") end}
    >
      <:col :let={{_id, loan}} label="Kontakt">
        {format_string_field(loan.contact.name)}
      </:col>
      <:col :let={{_id, loan}} label="Standort">
        {format_string_field(loan.location.name)}
      </:col>
      <:col :let={{_id, loan}} label="Einheit">
        {format_integer_field(loan.unit.serial_number)}
      </:col>
      <:col :let={{_id, loan}} label="Rückgabedatum">
        <div class="max-w-[200px] truncate overflow-hidden">
          {format_date_field_dmy(loan.return_date)}
        </div>
      </:col>
      <:action :let={{_id, loan}}>
        <.link navigate={~p"/loans/#{loan}"}>Anzeigen</.link>
      </:action>
    </.table>
  <% else %>
    <p>Bisher wurde noch keine Ausleihe angelegt.</p>
  <% end %>
</.card>

<.header level="2" class="mt-12">
  Einheiten
  <:actions>
    <.link navigate={~p"/articles/#{@article}/units/new"}>
      <.button>Einheit erstellen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@streams.units.inserts) do %>
    <.table
      id="unit"
      rows={@streams.units}
      row_click={fn {_id, unit} -> JS.navigate(~p"/units/#{unit}") end}
    >
      <:col :let={{_id, unit}} label="Anlagennummer">
        {format_integer_field(unit.serial_number)}
      </:col>
      <:col :let={{_id, unit}} label="belegt">
        {format_boolean_field(unit.occupied)}
      </:col>
      <:col :let={{_id, unit}} label="ausleihbar">
        <div class="max-w-[200px] truncate overflow-hidden">
          {format_boolean_field(unit.for_lending)}
        </div>
      </:col>
      <:col :let={{_id, unit}} label="Standort">
        {format_string_field(unit.location.name)}
      </:col>
      <:col :let={{_id, unit}} label="Erwerbsdatum">
        {format_date_field_dmy(unit.purchase_date)}
      </:col>
      <:col :let={{_id, unit}} label="Inbetriebnahme">
        {format_date_field_dmy(unit.commission_date)}
      </:col>
      <:col :let={{_id, unit}} label="Außerbetriebnahme">
        {format_date_field_dmy(unit.decommission_date)}
      </:col>
      <:action :let={{_id, unit}}>
        <.link navigate={~p"/units/#{unit}"}>Anzeigen</.link>
      </:action>
    </.table>
  <% else %>
    <p>Bisher wurde noch keine Einheit angelegt.</p>
  <% end %>
</.card>
