<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/categories/#{@category}/edit"}>
      <.button>Ausrüstungskategorie bearbeiten</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <.list>
    <:item title="Name">{@category.name}</:item>
    <:item title="Beschreibung">{@category.description}</:item>
    <:item title="Definierter Ausleihzeitraum in Tagen">
      {format_integer_field(@category.loan_period)}
    </:item>
  </.list>
</.card>

<.header level="2" class="mt-12">
  Gebühren
  <:actions>
    <.link navigate={~p"/categories/#{@category}/fees/new"}>
      <.button>Kategoriespezifische Gebühr erstellen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@category.fees) do %>
    <SportywebWeb.FeeLive.IndexTableComponent.render fees={@category.fees} />
  <% else %>
    <p>Bisher wurde noch keine kategoriespezifische Gebühr erstellt.</p>
  <% end %>
</.card>
