<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/categories/#{@category}/edit"}>
      <.button>Ausrüstungskategorie bearbeiten</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <.list>
    <:item title="Name">{@category.name}</:item>
    <:item title="Beschreibung">{@category.description}</:item>
    <:item title="Definierter Ausleihzeitraum in Tagen">
      {format_integer_field(@category.loan_period)}
    </:item>
  </.list>
</.card>

