<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/clubs/#{@club}/rental_rules/new"}>
      <.button>Mietregel erstellen</.button>
    </.link>
  </:actions>
</.header>

<form phx-change="filter">
  <select name="scope">
    <option value="" selected={@scope == ""}>Alle Ebenen</option>
    <option value="club" selected={@scope == "club"}>Gesamter Verein</option>
    <option value="category" selected={@scope == "category"}>Kategorie</option>
    <option value="article" selected={@scope == "article"}>Artikel</option>
  </select>

  <%= if @scope == "category" do %>
    <select name="object_id">
      <option value="">Alle Kategorien</option>
      <%= for category <- @club.categories do %>
        <option value={category.id} selected={@object_id == category.id}>
          {category.name}
        </option>
      <% end %>
    </select>
  <% end %>

  <%= if @scope == "article" do %>
    <select name="object_id">
      <option value="">Alle Artikel</option>
      <%= for article <- @club.articles do %>
        <option value={article.id} selected={@object_id == article.id}>
          {article.name}
        </option>
      <% end %>
    </select>
  <% end %>
</form>

<.card class="flex flex-wrap sm:flex-nowrap justify-between space-x-6">
  <div>
    <.icon name="hero-light-bulb" class="w-12 h-12 mt-2 mb-4 text-amber-500" />
  </div>
  <div>
    <p class="mb-3">
      Mietregeln können auf verschiedenen Ebenen erstellt werden. Sie können für den gesamten Verein, für eine bestimmte Kategorie oder für einen bestimmten Artikel gelten.
    </p>
    <p class="mb-3">
      Eine Vermietung legen Sie in der Übersicht eines Artikels an. Achten Sie darauf, dass für diesen Artikel eine Mietregel und eine Mietgebühr auf der entsprechenden Ebene existiert, damit die Vermietung korrekt berechnet werden kann.  
    </p>
  </div>
</.card>

<.card>
  <%= if Enum.any?(@streams.rental_rules.inserts) do %>
    <.table
      id="rental_rules"
      rows={@streams.rental_rules}
      row_click={fn {_id, rental_rule} -> JS.navigate(~p"/rental_rules/#{rental_rule}") end}
    >
      <:col :let={{_id, rental_rule}} label="Gilt für">
        <%= cond do %>
          <% rental_rule.article -> %>
            Artikel
          <% rental_rule.category -> %>
            Kategorie
          <% true -> %>
            Gesamter Verein
        <% end %>
      </:col>

      <:col :let={{_id, rental_rule}} label="Name">
        <%= cond do %>
          <% rental_rule.article -> %>
            {rental_rule.article.name}
          <% rental_rule.category -> %>
            {rental_rule.category.name}
          <% true -> %>
            -
        <% end %>
      </:col>

      <:col :let={{_id, rental_rule}} label="Vereinsmitglieder">
        {if rental_rule.for_club_members, do: "Ja", else: "Nein"}
      </:col>

      <:col :let={{_id, rental_rule}} label="Nichtmitglieder">
        {if rental_rule.for_non_members, do: "Ja", else: "Nein"}
      </:col>

      <:col :let={{_id, rental_rule}} label="Ausleihzeitraum">
        <%= if rental_rule.choose_rental_period do %>
          {rental_rule.rental_period} {rental_rule.rental_period_unit}
        <% else %>
          -
        <% end %>
      </:col>

      <:action :let={{_id, rental_rule}}>
        <.link navigate={~p"/rental_rules/#{rental_rule}"}>Anzeigen</.link>
      </:action>
    </.table>
  <% else %>
    <p>
      Bisher wurde noch keine Mietregel erstellt.
    </p>
  <% end %>
</.card>