<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/clubs/#{@club}/rental_rules/new"}>
      <.button>Mietregel erstellen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@streams.rental_rules.inserts) do %>
    <.table
      id="rental_rules"
      rows={@streams.rental_rules}
      row_click={fn {_id, rental_rule} -> JS.navigate(~p"/rental_rules/#{rental_rule}") end}
    >
      <:col :let={{_id, rental_rule}} label="Gilt für">
        <%= cond do %>
          <% rental_rule.article -> %>
            Artikel
          <% rental_rule.category -> %>
            Kategorie
          <% true -> %>
            Gesamter Verein
        <% end %>
      </:col>

      <:col :let={{_id, rental_rule}} label="Bezeichnung">
        <%= cond do %>
          <% rental_rule.article -> %>
            {rental_rule.article.name}
          <% rental_rule.category -> %>
            {rental_rule.category.name}
          <% true -> %>
            -
        <% end %>
      </:col>

      <:col :let={{_id, rental_rule}} label="Vereinsmitglieder">
        {if rental_rule.for_club_members, do: "Ja", else: "Nein"}
      </:col>

      <:col :let={{_id, rental_rule}} label="Nichtmitglieder">
        {if rental_rule.for_non_members, do: "Ja", else: "Nein"}
      </:col>

      <:col :let={{_id, rental_rule}} label="Ausleihzeitraum">
        <%= if rental_rule.choose_rental_period do %>
          {rental_rule.rental_period} {rental_rule.rental_period_unit}
        <% else %>
          -
        <% end %>
      </:col>

      <:action :let={{_id, rental_rule}}>
        <.link navigate={~p"/rental_rules/#{rental_rule}"}>Anzeigen</.link>
      </:action>
    </.table>
  <% else %>
    <p>
      Bisher wurde noch keine Mietregel erstellt.
    </p>
  <% end %>
</.card>