<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/clubs/#{@club}/rental_fees/new"}>
      <.button>Mietgebühr erstellen</.button>
    </.link>
  </:actions>
</.header>

<form phx-change="filter">
  <select name="scope">
    <option value="" selected={@scope == ""}>Alle Ebenen</option>
    <option value="club" selected={@scope == "club"}>Gesamter Verein</option>
    <option value="category" selected={@scope == "category"}>Kategorie</option>
    <option value="article" selected={@scope == "article"}>Artikel</option>
  </select>

  <%= if @scope == "category" do %>
    <select name="object_id">
      <option value="">Alle Kategorien</option>
      <%= for category <- @club.categories do %>
        <option value={category.id} selected={@object_id == category.id}>
          {category.name}
        </option>
      <% end %>
    </select>
  <% end %>

  <%= if @scope == "article" do %>
    <select name="object_id">
      <option value="">Alle Artikel</option>
      <%= for article <- @club.articles do %>
        <option value={article.id} selected={@object_id == article.id}>
          {article.name}
        </option>
      <% end %>
    </select>
  <% end %>
</form>

<.card>
  <%= if Enum.any?(@streams.rental_fees.inserts) do %>
    <.table
      id="rental_fees"
      rows={@streams.rental_fees}
      row_click={fn {_id, rental_fee} -> JS.navigate(~p"/rental_fees/#{rental_fee}") end}
    >
      <:col :let={{_id, rental_fee}} label="Gilt für">
        <%= cond do %>
          <% rental_fee.article -> %>
            Artikel
          <% rental_fee.category -> %>
            Kategorie
          <% rental_fee.club -> %>
            Verein
          <% true -> %>
            -
        <% end %>
      </:col>

      <:col :let={{_id, rental_fee}} label="Name">
        <%= cond do %>
          <% rental_fee.article -> %>
            {rental_fee.article.name}
          <% rental_fee.category -> %>
            {rental_fee.category.name}
          <% true -> %>
            -
        <% end %>
      </:col>

      <:col :let={{_id, rental_fee}} label="Bezeichnung">
        {rental_fee.name}
      </:col>

      <:col :let={{_id, rental_fee}} label="Mitgliedstyp">
        <%= case rental_fee.member_type do %>
          <% :member -> %>
            Mitglieder
          <% :non_member -> %>
            Nichtmitglieder
          <% _ -> %>
            -
        <% end %>
      </:col>

      <:col :let={{_id, rental_fee}} label="Mietdauer">
        <%= case rental_fee.rental_duration do %>
          <% :short_term -> %>
            Kurzfristig
          <% :long_term -> %>
            Langfristig
          <% _ -> %>
            -
        <% end %>
      </:col>

      <:col :let={{_id, rental_fee}} label="Grundbetrag">
        {Money.to_string!(rental_fee.amount)}
      </:col>

      <:action :let={{_id, rental_fee}}>
        <.link navigate={~p"/rental_fees/#{rental_fee}"}>Anzeigen</.link>
      </:action>
    </.table>
  <% else %>
    <p>
      Bisher wurde noch keine Mietgebühr erstellt.
    </p>
  <% end %>
</.card>